@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
  padding: 0;
  margin: 0;
}

body {
  font-family: arial,helvetica;
  color: #333;
}

a {
  text-decoration: none;
}

table {
  border-spacing: 0;
}

fieldset,img {
  border: 0;
}

address,caption,cite,code,dfn,em,strong,th,var {
  font-weight: normal;
  font-style: normal;
}

strong{
  font-weight: bold;
}

ol,ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

caption,th {
  text-align: left;

}

h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
  font-size: 100%;
  margin: 0;
  padding: 0;
  color: #444;
}

q:before, q:after {
  content:'';
}

abbr,acronym {
  border: 0;
}


/* Custom CSS
 * --------------------------------------- */
h1 {
  font-size: 6em;
}

p {
  font-size: 2em;
}

.intro p {
  width: 50%;
  margin: 0 auto;
  font-size: 1.5em;
}

#menu li {
  display: inline-block;
  margin: 10px;
  color: #000;
  background: #fff;
  background: rgba(255,255,255, 0.5);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

#menu li.active {
  background: #666;
  background: rgba(0,0,0, 0.5);
  color: #fff;
}

#menu li a {
  text-decoration: none;
  color: #000;
}

#menu li.active a:hover {
  color: #000;
}

#menu li:hover {
  background: rgba(255,255,255, 0.8);
}

#menu li a,
#menu li.active a {
  padding: 9px 18px;
  display: block;
}

#menu li.active a {
  color: #fff;
}

#menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 40px;
  z-index: 70;
  width: 100%;
  padding: 0;
  margin: 0;
}

#map {
  height: 100%;
  margin: 0;
  padding: 0;
}

.fadeit {
  position: absolute;
  height: 100%;
  z-index: -1;
  width: 100%;
  background-color: rgba(24, 3, 7, 0.25);
}

.section {
  text-align: center;
}

#section1 {
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  background-size: cover;
  z-index: -2;
}

#section1 p {
  padding: 30px 0;
  color: #fff;
}

#section1 img {
  min-width: 350px;;
}

#section2 h2 {
  color: #fff !important;
  font-size: 35px;
  padding: 40px;
}

#section3 h2 {
  font-size: 65px;
}

#section3 input {
  height: 56px;
  font-size: 21px;
  margin-top: 25px;
  height: 60px;
  width: 350px;
  border: solid #999;
  border-width: 1px 0 1px 1px;
  padding: 0 10px;
}

.invalid {
  background: #fdeef0;
  border: solid 1px #ef818d !important;
}

.invalid::placeholder {
  color: #ef818d;
}

.invalid:-ms-input-placeholder {
  color: #ef818d;
}

.button-block {
  display: block;
  margin-top: 10px;
}

.button-block a,
.button-block button {
  max-width: 250px;
  display: block;
  position: relative;
  background-color: #81c341;
  border: solid 1px #fafafa;
  padding: 20px;
  font-size: 18px;
  letter-spacing: 2px;
  margin: 0 auto;
  color: #fff;
  cursor: pointer;
}

.button-block a:hover,
.button-block button:hover {
  background-color: #32CD32;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}

.go {
  display: inline !important;
  border-color: #81c341 !important;
  position: relative;
  top: -2px;
  left: -5px;
  padding: 19px !important;
  width: 70px;
}

.mouse-icon {
  border: 2px solid #fff;
  border-radius: 16px;
  display: block;
  height: 50px;
  position: absolute;
  width: 30px;
  z-index: 10;
  bottom: 5%;
  left: 49%;
}

@media (min-width: 600px) {
  .mouse-icon {
    height: 36px;
    width: 26px;
  }
}

.mouse-icon .scroll {
  background: #fff none repeat scroll 0 0;
  border-radius: 10px;
  height: 10px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 4px;
  width: 4px;
}

.mouse-icon .scroll {
  animation-delay: 0s;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-name: scrolling;
  animation-play-state: running;
  animation-timing-function: linear;
}

@keyframes scrolling {
  0% {
    opacity: 0;
    top: 5px;
  }

  30% {
    opacity: 1;
    top: 10px;
  }

  100% {
    opacity: 0;
    top: 25px;
  }
}

.column {
  float: left;
  width: 25%;
}

.column i {
  margin-top: 15px;
  color: #fff;
}

.marked i {
  color: #32CD32;
}

.marked {
  position: absolute;
  top: 9px;
  right: 15px;
}

.column span {
  display: block;
  color: #fff;
  padding-top: 10px;
  text-align: center;
}

.category {
  position: relative;
  padding: 25px;
  height: 150px;
  margin: 0 auto;
  width: 150px;
  border: 1px solid #fff;
  cursor: pointer;
}

.category:hover {
  background-color: #ff6d7e;
}

/* Clear floats after the color columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.row {
  margin-bottom: 45px;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .column {
    width: 100% !important;
  }
}
